nav {
    background-color: var(--yellowmid);
}

.navbar-brand, .nav-item {
    color: var(--darkblue);
    /*margin-left: 3vw;*/
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--accent_maroon);
}

.custom-navbar-toggler {
    background-color: var(--yellowmid);
    border-style: none;
}
