/*grid*/
#container {
   width: 100vw;
   height: 100vh;
   /*border-style: double;*/
   /*color: red;*/
}

#row_1, #row_2, #row_3 {
   --bs-gutter-x: none;
   /*border-style: solid;*/
   /*color: green;*/
}


/*#column_2, #column_3, #column_4, #column_5, #column_6  {*/
/*   border-style: dotted;*/
/*   background-color: yellow;*/
/*}*/

#row_3 {
   padding-top: 10px;
   padding-left: 10px;
   min-height: 80vh;
}

/*elements within grid system*/

.head_texts {
   color: var(--darkcolor);
}

.card_parent {
   display: none;
   width: 70vw;
   border-style: inset;
   background-color: var(--light);
}

.score, .assonance, .pattern {
   margin-left: 3vw;
}

.rhymed_word {
   font-weight: bold;
   padding-right: 2vw;
}


i {
   margin: 0.5vh;
}



/*elements beyond grid system*/
/*scroll buttons*/

.bi-arrow-up, .bi-arrow-down, .bi-arrow-down-up {
   position: sticky;
   left: 450px;
}

.bi-arrow-up {
   bottom: 80%;
}

.bi-arrow-down-up {
   bottom: 50%;
}

.bi-arrow-down  {
   bottom: 20%;
}


@media all and (max-width: 500px) {
   .bi-arrow-up, .bi-arrow-down, .bi-arrow-down-up {
      left: 93vw;
   }
}


