body {
   margin-top: 6vw;
   margin-left: 3vw;
}

.card_parent {
   display: none;
   width: 70vw;
   border-style: inset;
   background-color: var(--light);
}

.head_texts {
   color: var(--darkcolor);
}

h3 {
   margin-top: 75px;
}

#score, #assonance, #pattern {
   margin-left: 3vw;
}


#rhymed_word {
   font-weight: bold;
   padding-right: 2vw;
}


i {
   margin: 0.5vh;
}

/*scroll buttons*/

/*#div_down {*/
/*   margin-left: 30px;*/
/*}*/
.bi-arrow-up, .bi-arrow-down, .bi-arrow-down-up {
   position: sticky;
   left: 360px;
}

.bi-arrow-up {
   bottom: 90%;
}

.bi-arrow-down-up {
   bottom: 50%;
}

.bi-arrow-down  {
   bottom: 10px;
}


@media all and (max-width: 500px) {
   .bi-arrow-down, .bi-arrow-down, .bi-arrow-down-up {
      left: 93vw;
   }
}

/*select*/
#select_penalty {
   margin-top: 100px;
}