/*rhyme*/

.group {
    position: absolute;
    top: 27vh;
    left: 15vw;
    right: 15vw;

}


/*no word in dict*/
p {
    color: var(--darkcolor);
}

/* choose variant with proper stress */
fieldset {
    color: var(--darkcolor);
    border-color: maroon;
    border-style: dotted;
}

/*variants*/
form {
    color: var(--darkcolor);
}

/*block for text input*/
input[type='text'] {
    color: var(--darkcolor);
    border-style: solid;
    border-color: maroon;
    background-color: var(--light);
    padding: 5px;
    /*margin-left: -5px;*/
}


/*submit button*/
#input_button_rhyme {
    color: maroon;
    background-color: var(--light);
    border-style: none;
    border-color: maroon;
    padding: 5px;
    display: block;
}

.spinner-grow {
    margin-top: 20px;
    display: none;
    color: var(--linkcolor);
}


