/*select blocks*/
.form-select {
    color: var(--brownlight);
    background-color: var(--light);
    border-radius: 0;
    font-size: 1rem;
    border: 1px groove;
}



 .form-select .score_option, .assonance_option {
    font-size: 0.9rem !important;
}

