/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    /*border: blue solid;*/
}

/*overall css styling*/

/*proportional size of the box containing background*/
:root {
    --vh: calc(100vh / 2 - (100vw*0.06));
    --vw: calc(100vw / 2 - (100vw*0.06));
    --linkcolor: maroon;
    --darkcolor: #49616B;
    --darklesscolor: #647376;
    --yellowdark: #B99447;
    --yellowbright: #647376;
    --yellowpale: #E5C072;
    --light: #F9FBE6;
    --brownlight: #647376;
}

body {
    position: relative;
    background: url("../pics/background.jpeg");
    background-size: cover;
    font-family: 'Futura', SansSerif, serif;
    place-items: center;
}

a {
    color: maroon;
    text-decoration: none;
}

@font-face {
    font-family: 'Futura';
    src: url("../futura_sv/Futura_Book.ttf") format("truetype");
}



