/*rhyme*/

.group {
    position: absolute;
    top: 27vh;
    left: 15vw;
    right: 15vw;

}


/*no word in dict*/
p {
    color: var(--darkblue);
}

/* choose variant with proper stress */
fieldset {
    color: var(--darkblue);
    border-color: maroon;
    border-style: dotted;
}

/*variants*/
/*form {*/
/*    color: var(--darkblue);*/
/*}*/

/*block for text input*/
/*input[type='text'] {*/
/*    color: var(--darkblue);*/
/*    border-style: solid;*/
/*    border-color: maroon;*/
/*    background-color: var(--light);*/
/*    padding: 5px;*/
/*    !*margin-left: -5px;*!*/
/*}*/


/*submit button*/
/*#input_button_rhyme {*/
/*    color: maroon;*/
/*    background-color: var(--light);*/
/*    border-style: none;*/
/*    border-color: maroon;*/
/*    padding: 5px;*/
/*    display: block;*/
/*}*/

.spinner-grow {
    margin-top: 20px;
    display: none;
    color: var(--accent_maroon);
}

#progressbar_rhyme {
    display: block;
    /*color: var(--accent_maroon);*/
    background-color: var(--accent_maroon);
    border: none;
    border-radius: initial;
    height: 36px;
    width: 0;
}
