/* CSS Reset */

/* For WebKit-based browsers */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*input {*/
/*    border:none;*/
/*    background-image:none;*/
/*    background-color:transparent;*/
/*    -webkit-box-shadow: none;*/
/*    -moz-box-shadow: none;*/
/*    box-shadow: none;*/
/*}*/

/*overall css styling*/
:root {
    --accent_maroon: #800000;
    --accent_midnighblue: #042A3F;
    --accent_orangered: #FF5B01;

    --light: #F9FBE6;

    --yellowdark: #B99447;
    --yellowmid: #E5C072;
    --yellowlight: #F1EECB;

    --greendark: #88967A;
    --greenmid: #C3C8AB;
    --greenlight: #D9DCBF;

    --darkblue: #49616B;
    --bluemid: #647376;
    --blueuppermid: #ACB3AB;
    --bluelight: #D3D5D4;
}

/*proportional size of the box containing background*/
body {
    --vh: calc(100vh / 2 - (100vw*0.06));
    --vw: calc(100vw / 2 - (100vw*0.06));
    position: relative;
    background: url("../pics/background.jpeg");
    background-size: cover;
    font-family: 'Futura', SansSerif, serif;
}

a {
    color: var(--accent_maroon);
    text-decoration: none;
}

@font-face {
    font-family: 'Futura';
    src: url("../futura_sv/Futura_Book.ttf") format("truetype");
}


