{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial_scale="1.0">
    <title>rhyme russian</title>
</head>
<body>
<div>
    <fieldset>
        <legend><strong>Напиши слово для подбора рифм</strong></legend>
        <form action="{% url 'rhyme:rhyme_results' %}" method="post">
            {% csrf_token %}
            <label for="to_rhyme"></label>
            <input type="text" id="to_rhyme" name="rhyme_word"><br>
        <input type = "submit" value = "Отправить">
        </form>
    </fieldset>
</div>
</body>
</html>
