{% extends 'base_rhyme.html' %}

{% load static %}
{% block import_css %}
    <link rel="stylesheet" href="{% static 'css/rhyme.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

    {% block title %}rhyme russian{% endblock %}

{% block main %}
   {% include 'navbar.html' %}

    <div class="group" id="input_word_to_rhyme">
        <fieldset id="fieldset_input_word">
            <legend><strong>Напиши слово для подбора рифм</strong></legend><br>
            <form action="{% url 'rhyme:rhyme_results' %}" method="post">
                {% csrf_token %}
                <label for="to_rhyme"></label>
                <input type="text" id="to_rhyme" name="target_word"><br><br>
            <input class="submit" id="input_button_rhyme" type = "submit" value = "Отправить">
            </form>
        </fieldset><br>

        <div id="spinner" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </div>


    <div class="group" id="choose_stress">
        {% if all_stresses %}
            <p><strong>В словаре нет слова "{{ unstressed_word }}"</strong></p>
            <fieldset>
                <legend><strong>Выберите вариант с правильным ударением:</strong></legend><br>
                <form action="{% url 'rhyme:rhyme_results' %}" method="post">
                    {% for stressed_variant in all_stresses %}
                        {% csrf_token %}
                        <script>
                            const elem = document.getElementById("input_word_to_rhyme");
                            elem.remove();
                        </script>
                        <input type="radio" id="variant"{{ forloop.counter }} name = "target_word" value="{{ stressed_variant }}">
                        <label for="variant"{{ forloop.counter }}>{{ stressed_variant }}</label><br>
                    {% endfor %}<br><br>
                    <input class="submit" type="submit" value="Отправить">
                </form>
            </fieldset>
        {% endif %}
    </div>

<script src="{% static 'js/rhyme.js' %}"></script>

{% endblock %}
