{% extends 'base_rhyme.html' %}
{% load static %}
{% block import_css %}<link rel="stylesheet" href="{% static 'css/title.css' %}">{% endblock %}
{% block title %}title{% endblock %}

{% block body %}
<div class="grid_container">

    <div class="grid_item" id="find_rhyme">
        <div class="box_wrapping_text">
            <p id="text_rhyme"><a href="rhyme">Подбери рифму</a></p>
        </div>
    </div>

    <div class="grid_item" id="put_stress">
        <div class="box_wrapping_text">
            <p id="text_stress"><a href="stress">Поставь ударение</a></p>
       </div>
    </div>

    <div class="grid_item" id="transcribe">
        <div class="box_wrapping_text">
            <p id="text_transcribe"><a href="transcribe">Транскрибируй</a></p>
        </div>
    </div>

    <div class="grid_item" id="about">
        <div class="box_wrapping_text">
            <p id="text_about"><a href="transcribe">О проекте</a></p>
        </div>
    </div>

</div>
{% endblock %}
