{% extends 'base_rhyme.html' %}

{% load static %}
{% block import_css %}
    <link rel="stylesheet" href="{% static 'css/rhyme.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/button_custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_control_custom.css' %}">

{% endblock %}

    {% block title %}rhyme{% endblock %}

{% block main %}
   {% include 'navbar.html' %}

    <div class="group" id="input_word_to_rhyme">
        <fieldset id="fieldset_input_word">
            <legend><h3>Напиши слово для подбора рифм</h3></legend><br>


            <form id='input_form_on_rhyme' class="d-flex flex-column" role="search" action="{% url 'rhyme:rhyme_results' %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="Слово" aria-describedby="word_restrictions" name="target_word">
				<small id="word_restrictions" class="form-text text-muted">разрешены: ударение /'/, дефис /-/; запрещены: пробел, большая буква -</small>
                <div class="mt-3">
                    <button id="button_find_rhyme_on_rhyme" class="btn mt-2" type="submit">
                       <span>Подобрать</span>
                    </button>
                </div>
				<div id="spinner_word" class="spinner-border" role="status" style="display:none"></div>
            </form>
			<div id="message_invalid_word" class="mt-4">{{ message }}</div>

				<script>
					let messageJs = "{{ message }}";
					if (messageJs) {
						location.reload(true);
					};
				</script>

        </fieldset><br>

    </div>


    <div class="group" id="choose_stress">
        {% if all_stresses %}
			<script>
				const elem = document.getElementById("input_word_to_rhyme");
				elem.remove();
				localtion.reload(true)
			</script>
            <p><strong>В словаре нет слова "{{ unstressed_word }}"</strong></p>
            <fieldset>
                <legend><h3>Выберите вариант с правильным ударением:</h3></legend><br>
                <form action="{% url 'rhyme:rhyme_results' %}" method="post">
                    {% for stressed_variant in all_stresses %}
                        {% csrf_token %}
                        <input type="radio" id="variant"{{ forloop.counter }} name = "target_word" value="{{ stressed_variant }}">
                        <label for="variant"{{ forloop.counter }}>{{ stressed_variant }}</label><br>
                    {% endfor %}<br>
                    <button id="button_select_stress" class="btn" type="submit">
                        <span>Подобрать</span>
                    </button>
					<div id="spinner_stress" class="spinner-border" role="status" style="display:none"></div>
                 </form>
            </fieldset>
        {% endif %}
    </div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  let buttonElementWord = document.getElementById("button_find_rhyme_on_rhyme");
  let buttonElementStress = document.getElementById("button_select_stress");

  if (buttonElementWord) {
    buttonElementWord.addEventListener("click", function() {
		let spinnerElement = document.getElementById("spinner_word");
		spinnerElement.style.display = "block";
    });
  };
  if (buttonElementStress) {
    buttonElementStress.addEventListener("click", function() {
		let spinnerElement = document.getElementById("spinner_stress");
		spinnerElement.style.display = "block";
    });
  };
});
</script>

{% endblock %}
