{% extends "base_rhyme.html" %}
{% block title %}put_stress_results{% endblock %}

{% block import_css %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/stress.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block main %}
    <div class="container" id="container_stress">


		<div class="row">
			<div class="col">

				<div id='row_1' class='row'>
					<div id='column_1' class='col'>
					   {% include 'navbar.html' %}
					</div>
				</div>

				<div class="card" id="input_card">
				  <div class="card-body">
					<form>
						{% csrf_token %}
					  <div class="form-group">
						  <label for="input_word"><h3>Безударное слово</h3></label>
						<input type="text" class="form-control" id="input_word" aria-describedby="stress_restrictions" placeholder="Напишите">
						<small id="stress_restrictions" class="form-text text-muted">дефис +; пробел, большая буква -</small>
					  </div>
					  <button type="submit" class="btn" onclick="getStressedWord(); return false;">Старт
						<!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
					  </button>
					</form>
				  </div>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="card" id="output_card">
				  <div class="card-body">
					<h3 id="title_output_card">Слово с ударением</h3>
					<span id="output_word">*****</span>
				  </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" id="spinner_col">
				<div id="spinner" class="spinner-border" role="status" style="display:none"></div>
			</div>
		</div>

		<div class="row">
			<div class="col" id="message_col">
				<span id="message"></span>
			</div>
		</div>

	</div>


<script>
    function getStressedWord() {
		let messageElement = document.getElementById("message");
		messageElement.innerHTML = ""

		let titleStressedCardElement = document.getElementById("title_output_card")
		titleStressedCardElement.innerHTML = "Словo с ударением";

		let spinnerElement = document.getElementById("spinner");
		spinnerElement.style.display = "block";

        let unstressedWord = document.getElementById("input_word").value;
        let stressedWordElement = document.getElementById("output_word");
        let csrfToken = "{{csrf_token}}";

        fetch('{% url "rhyme:get_stressed_word" %}', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken,
            },
            body: JSON.stringify({
                "unstressed_word": unstressedWord,
            }),
        })
        .then(response => response.json())
        .then(data => {
			let stressedWord = data.stressed_word;
			let message = data.message;
				if (Array.isArray(stressedWord) && stressedWord.length > 1) {
						titleStressedCardElement.innerHTML = "Слова с ударением";
					};	
				if (Array.isArray(stressedWord)) {
						stressedWord = stressedWord.join(", ");
					}; 

				stressedWordElement.innerHTML = stressedWord;
				spinnerElement.style.display = "none";
				messageElement.innerHTML = message;
        })
        .catch(error => {
            console.log("Error: ", error);
        });
    }
</script>


{% endblock %}
