#filter {
	height: 100%;
	width: 100%;
	text-align: left;
	background-color: var(--yellowlight);
	color: var(--darkblue);
	border: none;
	border-radius: initial;
}

#button_find_rhyme_on_rhyme_results {
	background-color: var(--yellowlight);
	color: var(--darkblue);
	border: none;
	border-radius: initial;
	width: 65%;
}

#button_find_rhyme_on_rhyme {
	background-color: var(--yellowlight);
	color: var(--darkblue);
	border: none;
	border-radius: initial;
}

#filter:hover,
#button_find_rhyme_on_rhyme:hover,
#button_find_rhyme_on_rhyme_results:hover {
	background-color: var(--yellowdark);
	color: var(--accent_midnighblue);
}

input[type="radio"]:checked {
	accent-color: var(--accent_maroon);
}
