
#row_2 {
   margin-top: 56px;
   position: fixed;
   width: 100%;
   background-color: var(--greenmid);
   color: var(--darkblue);
}

#row_3 {
   margin-top: 110px;
}


#column_2, #column_3 {
   padding: 0;
}

.card_parent {
   display: none;
   width: 70vw;
   border-style: inset;
   background-color: var(--light);

}

.score, .assonance, .pattern {
   margin-left: 3vw;
}

.rhymed_word {
   font-weight: bold;
   padding-right: 2vw;
}


i {
   margin: 0.5vh;
}

.offcanvas.offcanvas-end {
   background-color: var(--light);
   top: 56px;
   width: fit-content;
}


