#spinner {
	margin-top: 25px;
	color: var(--accent_maroon);
}


/*rhyme*/

.group {
    position: absolute;
    top: 27vh;
    left: 15vw;
    right: 15vw;

}


/*no word in dict*/
p {
    color: var(--darkblue);
}

/* choose variant with proper stress */
fieldset {
    color: var(--darkblue);
    border-color: maroon;
    border-style: dotted;
}

