.form-check-input:checked {
	background-color: maroon;
	border-color: var(--accent_maroon);
}

.form-check-input[type="checkbox"] {
	border-radius: 0;
}

.form-check-input:focus {
	border-color: none;
	outline: 0;
	box-shadow: none;
}

