
.btn,
.btn:hover {
	background-color: var(--accent_maroon);
	color: var(--light);
	margin-top: 20px;
	padding-left: 45px;
	padding-right: 45px;
}

#unstressed_card,
#stressed_card {
	background-color: var(--light);
}

#unstressed_card {
	color: var(--darkblue);
	margin-top: 20px;
}

#stressed_card {
	margin-top: 20px;
	color: var(--darkblue);
}

#stressed_word {
	color: var(--accent_maroon);
}

#spinner_col {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	color: var(--accent_maroon);
}

#spinner {
	margin-right: 8vw;
	width: 3rem;
	height:3rem;
}

#message_col {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	color: var(--darkblue);
}

