/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}



body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    /*border: blue solid;*/
}

/*main css styling*/
body {
    background: url("background.jpeg");
    background-size: cover;
}

a {
    color: maroon;
    text-decoration: none;
}

.grid_container {
    position: sticky;
    top: 15vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    /*border: blue solid;*/

}

:root {
    --vh: calc(100vh / 2 - (100vw*0.06));
    --vw: calc(100vw / 2 - (100vw*0.06))
}

.grid_item {
    display: grid;
    text-align: center;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    place-items: center;
    /*border: red solid;*/
    margin: 3vw;

}

.box_wrapping_text {
    place-items: center;
    height: var(--vw);
    width: var(--vw);
    /*border: green solid;*/

}



/*#find_rhyme, #put_stress, #transcribe {*/
/*    position: relative;*/
/*}*/

@font-face {
    font-family: 'Futura';
    src: url("futura_sv/Futura_Book.ttf") format("truetype");
}

#text_rhyme, #text_stress, #text_transcribe, #text_about {
    font-family: 'Futura', SansSerif;
    font-size: larger;
    font-weight: bold;
}

#find_rhyme {
    background-image: url("rhyme.jpeg");
}

#put_stress {
    background-image: url("stress.jpeg");
}

#transcribe {
    background-image: url("transcribe.jpeg");
}

#about {
    background-image: url("about.jpeg");
}

#text_rhyme{
    position: relative; top: 10%;
    left: 8%;
}

#text_stress {
    position: relative;
    top: 17%;
    left: -11%;
}

#text_transcribe {
    position: relative;
    top: 30%;
    left: 5%;
}

#text_about {
    position: relative;
    top: 43%;
}

@media (max-width: 768px) {

    .grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .box_wrapping_text {
        height: 100vw;
        width: 100vw; }
}
